/* common */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Sora", sans-serif;
}
body {
  font-size: 1.6rem;
}
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}
a {
  text-decoration: none;
}
:root {
  --header-bg: #10375c;
  --primary-color: #2e80ce;
}
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.btn {
  --height: 60px;
  min-width: 205px;
  height: var(--height);
  display: inline-block;
  text-align: center;
  line-height: var(--height);
  border-radius: 999px;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}
.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
  width: 40%;
}

.control {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  column-gap: 18px;
}
.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #575f66;
  outline: none;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
}
.control__btn-right {
  rotate: 180deg;
}
.control__btn:hover {
  border-color: #2e80ce;
  color: #fff;
  background: var(--primary-color);
}
/* header */
.header {
  background: var(--header-bg);
}
.logo {
  font-size: 1rem;
  position: relative;
  display: inline-flex;
}
.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background: #2e80ce;
  position: relative;
}
.logo__circle::after {
  width: 1.6em;
  height: 1.6em;
  background: #fff;
  position: absolute;
  top: 1.1em;
  left: 1.1em;
}

.logo__branch {
  display: block;
  font-size: 1.8em;
  font-weight: 400;
  color: #fff;
}
.logo__text {
  margin-left: 0.6em;
  text-align: right;
  line-height: 1.4em;
}
.logo__branch--small {
  font-size: 1.2em;
  font-weight: 300;
}
/* navbar */
.header-top {
  display: flex;
  align-items: center;
  padding: 30px 0 10px;
}
.navbar {
  margin-left: auto;
}
.navbar__list {
  display: flex;
  align-items: center;
}
.navbar__items {
  padding: 8px 21px;
}
.navbar__link {
  color: #c9d2da;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
}
.action {
  display: flex;
  margin-left: 181px;
}
.action__login,
.navbar__items a {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}
.action__login {
  padding: 8px 20px;
  margin-right: 8px;
}

.sign-up {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
.navbar__items--active,
.navbar__link:hover {
  color: #fff;
  font-weight: 400;
  text-shadow: 1px 0 0 currentColor;
}
.navbar__items--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  left: -8px;
  top: -2px;
}
.action__sign-up {
  --height: 44px;
  min-width: 104px;
  font-size: 1.6rem;
}
/* fixed */
.fixed {
  position: sticky;
  top: -20px;
  z-index: 1;
}
/* hero */
.hero {
  padding: 66px 0 110px;
  background: var(--header-bg);
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__img {
  width: 330px;
  height: 540px;
  object-fit: cover;
}
.hero__images {
  width: 46%;
}
.hero__content {
  width: 44%;
}
.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}
.hero__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
  margin-top: 22px;
}
.hero__row {
  display: flex;
  align-items: center;
  margin-top: 38px;
}
.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
  margin-left: 38px;
}
.hero__images {
  display: flex;
  align-items: center;
}
.hero__img {
  border-radius: 6px;
  position: relative;
  margin-right: -6px;
}
.hero__img--small {
  width: 210px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
}
/* service */
.service {
  padding: 100px 0;
  margin-top: 70px;
}
.service__heading,
.service__desc {
  text-align: center;
}
.service__desc {
  margin-left: auto;
  margin-right: auto;
}
.service-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
.service-content {
  width: 40%;
}
.service__img {
  width: 570px;
  border-radius: 12px;
  height: 570px;
  object-fit: cover;
}
.service-items {
  padding: 21px 18px 20px 22px;

  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: 0.25s;
}
.service-items:hover .service-item__icon-wrap {
  background-color: var(--primary-color);
  color: #fff;
}
.service-items:hover {
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
  position: relative;
}
.service-item__icon-wrap {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 19px;
  flex-shrink: 0;
  color: #10375c;
  background-color: #eff6fd;
}

.service-items__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.27;
}
.service-items__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}
.service-content__btn {
  margin-top: 55px;
}
/* work */
.work {
  padding: 100px 0;
  background: #f6fbff;
  margin-top: 70px;
}
.work-list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.work-items {
  border: 16px solid #eaf6ff;
  padding: 43px 42px;
  border-radius: 4px;
  transition: 0.25s;
}

.work-items:hover {
  border-color: var(--primary-color);
  transform: translateY(-16px);
}
.work-items:hover .work-items__about {
  color: #2e80ce;
  font-weight: 400;
}
.work-items__title {
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
  margin-top: 18px;
}
.work-items__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  margin-top: 28px;
}
.work-items__about {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  display: inline-block;
  margin-top: 18px;
}
.feature {
  padding: 50px 0;
  margin-top: 120px;
}
.feature-media {
  width: 48%;
}
.feature__images {
  position: relative;
  padding-bottom: 121px;
}
.feature__img {
  width: 512px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
}
.feature__img:last-child {
  width: 332px;
  height: 370px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.feature__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature-content {
  width: 40%;
}
.feature__desc {
  width: 468px;
}
.feature__cta {
  margin-top: 38px;
}
/* member */
.member {
  padding: 50px 0 85px;
  margin-top: 70px;
  text-align: center;
}
.member__cta {
  margin-top: 38px;
}
.member__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}
.member-item__name {
  color: #10375c;
  margin-top: 12px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
.member-items__desc {
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.85;
}

.member__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.member-item__img-bg {
  padding-top: 28px;
  border-radius: 6px;
  background: #eaf6ff;
  overflow: hidden;
}
.member-item__thumb {
  display: block;
  max-width: 100%;
  height: 290px;
  object-fit: cover;
  transition: 0.25s;
}
.member-item:hover .member-item__thumb {
  transform: scale(1.1);
}

/* install */
.install {
  padding: 85px 0;
  margin-top: calc(265px - 85px * 2);
  border-radius: 4px;
}
.install__thumb {
  width: 284px;
  height: 522px;
  object-fit: cover;
  transition: 0.3s;
  margin-top: -95px;
  display: flex;
}

.install__thumb:hover {
  transform: scale(1.1);
}
.install-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2e80ce;
  padding: 0 70px;
}
.install__content {
  max-width: 586px;
}
.install__heading {
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
  max-width: 489px;
}
.install__desc {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
  margin-top: 18px;
}
.install__download {
  display: flex;
  margin-top: 38px;
  column-gap: 28px;
}
.install__btn {
  background: var(--primary-color);
  border: none;
  cursor: pointer;
}
/* news */
.news {
  padding: 85px 0;
}
.news-item__thumb {
  width: 100%;
  height: 172px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
  display: block;
}
.news__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  max-width: 46%;
}
.news__content {
  width: 40%;
}
.news-item__body {
  padding: 18px 22px 21px;
  overflow: hidden;
  transition: 0.25s;

  background: #fff;
  border-radius: 12px;
}
.news-item {
  border: 1px solid #e8ebee;
  border-radius: 12px;
  transition: 0.25s;
}
.news-item:hover .news-item__more {
  color: var(--primary-color);
  cursor: pointer;
}
.news-item:hover {
  box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
  transform: translateY(-10px);
}
.news-item:hover .news-item__body {
  border-color: #fff;
}
.news__about {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.55;
  text-decoration-line: underline;
  margin-top: 28px;
  display: inline-block;
  text-underline-offset: 4px;
}

.news-item__title {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62;
}
.news-item__desc {
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71;
  margin-top: 10px;
}
.news-item__more {
  display: inline-block;
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
  margin-top: 12px;
}
.news__control {
  justify-content: start;
}
/* appointment  */
.appointment {
  padding: 85px 0;
}
.appointment__heading {
  padding-bottom: 18px;
  position: relative;
}
.appointment__heading::after {
  position: absolute;
  content: "";
  display: inline-block;
  background: #2e80ce;
  width: 136px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.appointment__desc {
  color: #575f66;
  margin-top: 18px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  width: 52%;
  margin-right: auto;
  margin-left: auto;
}

.appointment__btn {
  margin-top: 38px;
}
.appointment__inner {
  text-align: center;
  background: #f6fbff;
  padding: 100px 0;
}
/* footer */
.footer {
  padding: 100px 0 42px;
  background-color: #10375c;
  margin-top: 85px;
}
.footer__row {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
}
.footer-column__desc {
  width: 336px;
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 22px;
}
.footer-column__heading {
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}
.footer-column__list {
  margin-top: 20px;
}
.footer-column__item {
  color: #a9b3bb;
  display: block;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
  white-space: nowrap;
}
.footer-column__item:hover {
  text-decoration: underline;
}
.footer-column__list li:not(:first-child) {
  margin-top: 10px;
}
.footer-column .footer-column__heading:not(:first-child) {
  margin-top: 28px;
}
.footer-column__list-social {
  display: flex;
  column-gap: 10px;
  margin-top: 20px;
}
.footer-column__social-link {
  color: var(--primary-color);
  background-color: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.25s;
}
.footer-column__social-link:hover {
  color: #fff;
  background: var(--primary-color);
}
.footer-column__text {
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
  margin-top: 20px;
  width: 273px;
}
.footer__row {
  border-bottom: 1px solid #406181;
  padding-bottom: 28px;
}
.footer__no-copyright {
  display: block;
  color: #aab3ba;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85;
  margin-top: 28px;
}
.footer-form {
  display: flex;
  min-width: 212px;
  height: 46px;
}
.footer-form__input {
  outline: none;
  border-radius: 4px;
  border: 1px solid #406181;
  background: transparent;
  padding: 0 10px;
  color: #fff;
}
.footer-form__input::placeholder {
  color: #9ca8b1;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}
.footer-form__submit {
  min-width: 108px;
  --height: 46px;
  border-radius: 4px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.4erm;
  font-weight: 400;
  line-height: 1.85;
}
.footer-column__subscribe-block {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}
